.main-banner {
    position: relative;
    height: 400px;
    width: 100%;
    background-image: url("../../public/logo192.png"); /* Replace with your own image URL */
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {
    color: white;
    text-align: center;
}

.banner-content h2 {
    font-size: 36px;
    margin: 0;
}

.banner-content p {
    font-size: 18px;
    margin-top: 10px;
}