.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #f8f9fa;
    border-bottom: 1px solid black;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url("../../../public/logo192.png");
    background-size: cover;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

nav ul li {
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #007bff;
}

.user-header {
    color: black;
}