.free-trial-section {
    height: 95px; /* Автоматична висота для адаптації під вміст */
    border-radius: 8.317px;
    background: #FFF;
    box-shadow: 0px 13.861px 55.444px 0px #F2F5FA;
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
    justify-content: space-between;
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.free-trial-section h1 {
    font-size: 25px;
    height: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}

.free-trial-section p {
    color: #73738D;
    font-size: 11px;
    font-weight: 500;
    line-height: 150%; /* 16.633px */
}

.free-trial-section a {
    display: flex;
}

.free-trial-button {
    color: white;
    text-decoration: none;
    width: 15%;
    height: 32px;
    flex-shrink: 0;
    border-radius: 34px;
    background: #26C296;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-size: 11px;
    font-weight: 600;
    margin-top: 30px;
}

.free-trial-text {
}
@media screen and (max-width: 950px){
    .free-trial-section h1{
        font-size: 20px;
    }
}
@media screen and (max-width: 768px){
    .free-trial-section {
        max-width: 100%;
        margin-top: 38px;
    }
    .free-trial-section h1{
        font-size: 14px;
    }
    .free-trial-section p {
        /*margin-top: 30px;*/
    }
    .free-trial-button{
        width: 28%;
    }
}
@media screen and (max-width: 480px){
    .free-trial-section p{
        margin-top: 15px;
    }
}

